extends layout

block content
  h1= title
  p Welcome to #{title}

  ol.todo-list
  each val in todos
    li.todo-items
      span.task-name= val.task + ' - '
      if val.completed > 0
        span.status.completed Completed
      else
        span.status.not-completed Not Completed
      
      form.delete-form(method='POST' action='/delete')
        input(type='hidden', name='id', value=val.id)
        button.delete-btn(type='submit') Delete

      form.complete-form(method='POST', action='/complete')
        input(type='hidden', name='id', value=val.id)
        button.complete-btn(type='submit') Complete

  hr
  h2 Add a new task
  form.create-form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button.create-btn(type='submit') Create Task

  